/* background: EBEBEB 
  result: 3A6EA5
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEBEB ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB ;
  gap: 1em;
}

.title{
  font-size: 4em;
}

.inputCity{
  display: flex;
  gap: 1em;
  width: 50%;
  margin-bottom: 5em;
}

.inputField{
  height: 2em;
  width: 90%;
  font-size: 1.5em;
  padding-left: 1em;
}

.submit{
  width: 10%;
  background-color: #38d9a9;
  font-size: 1em;
  font-weight: bold;
  border: none;
}

.result{
  display: flex;
  gap: 1.5em;
}

.resultBox{
  width: 20em;
  height: 20em;
  background-color: #3A6EA5;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  box-shadow: 6px 6px 6px 1px rgba(181,174,174,0.75);
  -webkit-box-shadow: 6px 6px 6px 1px rgba(181,174,174,0.75);
  -moz-box-shadow: 6px 6px 6px 1px rgba(181,174,174,0.75);
}

img{
  width: 8em;
  height: 8em;
}

.icon{
  width: 30x;
  height: 30px;
}

.resultBoxCountry{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.resultBox p{
  margin-top: -0.1em;
  font-size: 3em;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  /* For desktop: */
  .App{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB ;
    gap: 1em;
    padding-top: 7em;
  }

  .inputCity{
    display: flex;
    gap: 1em;
    width: 95%;
    margin-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .button{
    padding-right: 1em;
  }
  
  .result{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}


